<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=homeTitle%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1> Hello World</h1>
</body>
</html>
